<div class='matchup-table'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Away Team</th>
        <th></th>
        <th>Home Team</th>
        <th>Game Time</th>
        <% if current_user.bars.include?(@bar) %>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @bar.games.each do |game| %>      
      <tr class="game-id-<%= game.id %>">
        <td class='away-team'>
          <%= "#{game.away_team.home_city} #{game.away_team.team_name}" %>
          <img src=<%= game.away_team.logo_path %> class='team-logo'>
        </td>
        <td>at</td>
        <td class='home-team'>
          <img src=<%= game.home_team.logo_path %> class='team-logo'>
          <%= "#{game.home_team.home_city} #{game.home_team.team_name}" %>
        </td>
        <td class="game-date"><%= game.game_at %></td>
        <% if current_user.bars.include?(@bar) %>
          <td class="option-delete"><%= link_to "Delete", bar_path({:id => @bar, :game_id => game.id }), method: :delete, :remote => true %>
          <td class="option-add" style="display:none"><%= link_to 'Add', add_game_path(@bar, game), method: :post, :remote => true %></td>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>