<!DOCTYPE html>
<html>
  <head>
    <title>fabawag</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0EHZ-thmX12H-vtatONZE4BaE08hGOeA&sensor=false" type="text/javascript"></script>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
  </head>
  <body class="<%= controller_name %>">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          </a>
          <a class="brand" href='/'>fabawag</a>
          <div class="container nav-collapse">
            <ul class="nav">
              
              <% if user_signed_in? %> <!--delete false when done testing !-->
                  <li><%= link_to "Signed in as #{current_user.name}", "#" %></li>
                  <% if current_user.bar_owner? %>  
                    <li><%= link_to "My Bars", bars_path(:my_bars => true), :remote => true, :class => "update-bars"%></li>
                  <% end %>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                  <li><%= link_to "Sign In With Facebook", user_omniauth_authorize_path(:facebook)  %></li>
                  <li><%= link_to "Are you a bar?", new_user_registration_path %></li>
              <% end %>
              <!--Fix Me !-->
              <li><%= link_to flash[:notice], '' %></li>
              <li><%= link_to flash[:alert], '' %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class='container-bars'>
     <%= yield %>
     </div>
  </body>
</html>


